# 실전에서 유용한 표준 라이브러리
***

- 내장 함수 : 기본 입출력 함수부터 정렬 함수까지 기본적인 함수들을 제공합니다. - 파이썬 프로그램을 작성할 때 없어서는 안 되는 필수적인 기능을 포함
- itertools : 파이썬에서 반복되는 형태의 데이터를 처리하기 위한 유용한 기능들을 제공합니다. - 특히 순열과 조합 라이브러리는 코딩 테스트에서 자주 사용됨
- heapq : 힙(heap) 자료구조를 제공합니다. - 일반적으로 우선순위 큐 기능을 구현하기 위해 사용됨
- bisect : 이진탐색 기능을 제공합니다.
- collections : 덱(deque), 카운터(Counter) 등의 유용한 자료구조를 포함합니다.
- math : 필수적인 수학적 기능을 제공합니다. - 팩토리얼, 제곱근, 최대공약수(GCD), 삼각함수 관련 함수부터 파이(pi)와 같은 상수를 포함합니다.

In [1]:
# sun()
result = sum([1,2,3,4,5])
print(result)

# min(), max()
min_result = min(7,3,5,2)
max_result = max(7,3,5,2)
print(min_result, max_result)

# eval()
result = eval("(3+5)*7")
print(result)

15
2 7
56

In [2]:
# sorted()
result = sorted([9,1,8,5,4])
reverse_result = sorted([9,1,8,5,4], reverse=True)
print(result)
print(reverse_result)

# sorted(), with key
array = [('홍길동', 35), ('이순신', 75), ('아무개', 50)]
result = sorted(array, key=lambda s: s[1], reverse=True)
print(result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]
[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

## 순열과 조합

### 순열 : 서로 다른 n개에서 서로 다른 r개를 선택하여 일렬로 나열하는 것

In [3]:
from itertools import permutations

data = ['A', 'B', 'C']    # 데이터 준비

result = list(permutations(data, 3))    # 모든 순열 구하기
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

### 조합 : 서로 다른 n개에서 순서에 상관 없이 서로 다른 r개를 선택하는 것

In [4]:
from itertools import combinations

data = ['A', 'B', 'C']    # 데이터 준비

result = list(combinations(data, 2))    # 2개를 뽑는 모든 조합 구하기
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [5]:
# 중복 순열
from itertools import product

data = ['A', 'B', 'C']    # 데이터 준비

reult = list(product(data, repeat=2))   # 2개를 뽑는 모든 순열 구하기 (중복 허용)
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [6]:
# 중복 조합
from itertools import combinations_with_replacement

data = ['A', 'B', 'C']    # 데이터 준비

result = list(combinations_with_replacement(data, 2))   # 2개를 뽑는 모든 조합 구하기 (중복 허용)
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

## Counter
- 리스트와 같은 반복 가능한(iterable) 객체가 주어졌을 때 내부의 원소가 몇 번씩 등장했는지 알려줍니다.

In [7]:
from collections import Counter

counter = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])

print(counter['blue'])
print(counter['green'])
print(dict(counter))

3
1
{'red': 2, 'blue': 3, 'green': 1}

## 최대 공약수와 최소 공배수

In [10]:
import math

# 최소 공배수(LCM)를 구하는 함수
def lcm(a, b):
    return a * b // math.gcd(a, b)

a = 21
b = 14

print(math.gcd(21, 14))   # 최대 공약수(GCD) 계산
print(lcm(21, 14))    # 최소 공배수(LCM) 계산

7
42